<style>
    .badge {
        background-color: #d9534f;
        border-radius: 30%;
        position: absolute;
        top: 2px;
        left: 19px;
        --bs-badge-padding-x: 0.25em;
        --bs-badge-padding-y: 0.25em;
    }
</style>
<span style="color: white" class="badge">@ViewBag.QuantityCart</span>
